<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NoInternetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.altro.chi_siamo.soci.SociActivity"
            android:exported="false"
            android:parentActivityName=".ui.altro.chi_siamo.ChiSiamoActivity" />
        <activity
            android:name=".ui.altro.storico.dettaglio_scontrini.DettaglioScontriniActivity"
            android:exported="false"
            android:label="Dettaglio scontrino"
            android:parentActivityName=".ui.altro.storico.StoricoActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8fsVXP6cHN6qgOPRSY_TXwhkaNCUGBo0" />

        <activity
            android:name=".ui.lista_spesa.conferma_ordine.ConfermaOrdineActivity"
            android:exported="false"
            android:label="Riepilogo ordine" />
        <activity
            android:name=".ui.ricerca.dettaglio_prodotti.DettaglioProdottoActivity"
            android:exported="false"
            android:label="Dettaglio prodotto" />
        <activity
            android:name=".ui.home.tessera_punti.TesseraPuntiActivity"
            android:exported="false"
            android:label="Tessera Punti" />
        <activity
            android:name=".ui.ricettario.dettaglio_ricette.DettaglioRicettaActivity"
            android:exported="false"
            android:label="Dettaglio ricetta" />
        <activity
            android:name=".ui.altro.termini_condizioni.TermCondActivity"
            android:exported="false"
            android:label="Termini e condizioni d&apos;uso" />
        <activity
            android:name=".ui.altro.storico.StoricoActivity"
            android:exported="false"
            android:label="Storico scontrini" />
        <activity
            android:name=".ui.altro.statistiche.StatsActivity"
            android:exported="false"
            android:label="Statistiche" />
        <activity
            android:name=".ui.altro.chi_siamo.ChiSiamoActivity"
            android:exported="false"
            android:label="Chi siamo" />
        <activity
            android:name=".ui.login.ResetPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="GreenMarket"
            android:noHistory="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".ui.login.UserProfileActivity"
            android:exported="false"
            android:label="Profilo utente" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>